.chat-window-main {
  width: 100%;
}

.chat-list-header {
  position: sticky;
  top: 0;
  display: flex;
  padding: 10px 0px;
  gap: 20px;
  color: aliceblue;
  text-transform: capitalize;
  background-color: rgb(124 63 34 / 50%);
  z-index: 0;
  opacity: 0;
  animation: showwindow 200ms ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes showwindow {
  100% {
    opacity: 1;
  }
}

.chat-list-header img {
  max-width: 70px;
  max-height: 70px;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 50%;
}

.chat-list-header .profile-info-video {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.chat-list-header .profile-info-video .live-video-icon {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.chat-list-header .profile-info-video .live-video-icon .go-live-ans {
  width: 40px;
}

.chat-list-header .profile-info-video .live-video-icon .go-live {
  cursor: pointer;
  width: 80px;
  height: 80px;
}

.shadowed-svg {
  filter: drop-shadow(0 0 10px white);
}

.chat-list-header .profile-info-video .live-video-icon .go-live:active {
  box-shadow: none;
}

.chat-list-header .profile-info-video .profile-info {
  display: flex;
  gap: 20px;
}

.chat-list-header .info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.chat-list-header .info > div:first-child {
  font-size: large;
  font-weight: 100;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.chat-list-header .info > div:nth-child(2) {
  color: rgb(11 219 86 / 90%);
  text-shadow: 0 0 20px black;
}

.chat-list-header .info > div:nth-child(2)::after {
  content: "";
  width: 10px;
  height: 10px;
  margin-left: 5px;
  display: inline-block;
  background-color: rgb(219 195 11 / 90%);
  border-radius: 50%;
  margin-top: 1%;
  text-shadow: 0 0 10px rgb(219 195 11 / 90%);
  animation: onlineIcon 0.9s infinite ease-in-out;
}

.chat-list-header .info > div:nth-child(2).hide {
  color: red;
}

.chat-list-header .info > div:nth-child(2).hide::after {
  display: none;
}

@keyframes onlineIcon {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.chat-list-header .button-parent {
  display: flex;
  align-items: center;
}

.chat-list-header .btn {
  margin-left: 10px;
  border: 1px solid white;
  box-shadow: 0 0 10px black;
  border-radius: 50%;
  background-color: white;
  color: black;
  text-align: center;
  cursor: pointer;
  z-index: 1;
}

.chat-list-header .btn:active {
  box-shadow: 0 0 15px white;
}

.chat-list-header .btn .icons {
  font-size: 25px;
}
